{% extends "base.html.twig" %}

{% block body %}
    {% include '@Catchme/Include/navbar2.html.twig' %}

    <div class="container">
        <div class="jumbotron register">
            {% block fos_message_content %}

                <h2>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</h2>

                <p>{% transchoice threads|length with {'%num%': threads|length } from 'FOSMessageBundle' %}
                    threads_found
                    {% endtranschoice %}</p>

                {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

            {% endblock %}
        </div>
    </div>
{% endblock %}