{% extends "base.html.twig" %}

{% block body %}
    {% include '@Catchme/Include/navbar2.html.twig' %}

    <div class="container">
        <div class="jumbotron">
            <h1>Votre compte</h1>
            {% block fos_user_content %}
                {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            {% endblock fos_user_content %}
            <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_edit') }}" role="button">Modifier mon profil</a> <a class="btn btn-primary btn-lg" href="{{ path('catchme_homepage') }}">Retour à l'accueil</a></p>

        </div>
    </div>
{% endblock %}
