{% extends "base.html.twig" %}

{% block body %}
    {% include '@Catchme/Include/navbar1.html.twig' %}

    <div class="container">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}