{% extends "base.html.twig" %}

{% block body %}
    {% include '@Catchme/Include/navbar2.html.twig' %}

<div class="container">
    <table id="classement" class="display table">
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr><tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>




        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function() {

            $('#classement').DataTable({
                "dom": '<lf<t>ip>',
                "pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "language": {
                    "lengthMenu": "_MENU_ ",
                    "zeroRecords": "Rien ne correspond à votre recherche désolé",
                    "info": "Page _PAGE_ / _PAGES_",
                    "search": "Rechercher:",
                    "infoFiltered":   "(parmi _MAX_ modèles)",
                    "paginate": {
                        "first":      "Premier",
                        "last":       "Dernier",
                        "next":       "Suivant",
                        "previous":   "Précédent"
                    }
                }}
            );

        } );
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.13/r-2.1.0/datatables.min.js"></script>
{% endblock %}