{% extends 'base.html.twig' %}

{% block body %}
    {#{% if is_granted("ROLE_USER") %}#}
        {#{% include '@Catchme/Include/navbar2.html.twig' %}#}
    {#{% else %}#}
        {#{% include '@Catchme/Include/navbar1.html.twig' %}#}
    {#{% endif %}#}

    <div class="container">
        <div class="jumbotron visible-xs-*	">
            <img class="logo center-block" src="{{ asset('bundles/catchme/images/catchMe.png') }}"/>
            <h1>Bienvenue !</h1>
            <p class="index">Connectez-vous ou enregistrez vous pour participer à un challenge</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_login') }}" role="button">Je me connecte</a> <a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}" role="button">Je m'enregistre</a></p>

        </div>
    </div>



{% endblock %}